<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png" alt="Logo RentX">

  <span>Olá, {{name}}!</span>

  <br>

  <span>Você solicitou a alteração da sua senha.</span>

  <span>
    Para realizar a troca, acesse o link a seguir: <a href="{{link}}">{{link}}</a>
  </span>

  <span>
    Caso não tenha sido você que solicitou a alteração de senha, desconsidere este e-mail.
  </span>

  <strong>Obrigado!</strong>

  <h3>
    <strong>
      Equipe RentX
    </strong>
  </h3>
</div>
